# =========================
# Build / saída de compilação
# =========================
build/
build-*/

# =========================
# Firmware gerado
# =========================
*.bin
*.elf
*.map
*.hex

# =========================
# Logs e dumps
# =========================
*.log
core
core.*

# =========================
# ESP-IDF - ambiente local
# =========================
.idf_py_env/
managed_components/
dependencies.lock

# =========================
# Configurações locais do SDK
# =========================
sdkconfig
sdkconfig.old
sdkconfig.ci*

# =========================
# IDE / Editor (local)
# =========================
.vscode/
.devcontainer/
.clangd
.idea/
*.swp
*.swo

# =========================
# Arquivos locais / segredos
# =========================
secrets.h
wifi_config.h
mqtt_config.h
.env
.env.*

# =========================
# Sistema operacional
# =========================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Linux
*~
